# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
dist/
build/
*.egg

# Environments
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Containers
*.sif

# CAPTURE
.labrc
